.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
    background-color: teal;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.goals-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.input-container {
    background-color: rgb(216, 112, 74);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 10rem;
}

.input-label {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    min-width: 4.5rem;
}

input {
    display: flex;
    flex: 2;
    /* 
    align-items: center; */
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 10rem;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 10rem;
    background-color: #282c34;
    color: white;
    font-weight: 600;
}

button:hover {
    background-color: wheat;
    color: #282c34;
    cursor: pointer;
}

button:focus {
    background-color: wheat;
    color: #282c34;
}   